.cont-tab-op{overflow: auto; border:1px solid gray}
.tabella-op{border-spacing: 0; text-align: center; min-width: 1035px; background-color: white; margin-bottom:0px; border:0px}
.tabella-op a{color: var(--primary);}
.tabella-op td, .tabella-op th{padding:8px; border-width: 0 1px 1px 0; border-color: lightgray; border-style: solid;}
.tabella-op th{background-color: var(--primary); color:white}
.tabella-op th:last-child{border-right: 0px;}
.tabella-op tr > td:first-child{background-color: var(--secondary);}
.tabella-op tr > td:last-child{border-right: 0px;}
.tabella-op tbody > tr:last-child td{border-bottom:0px}
.tabella-op.tabella-op-singolo tr > td:first-child{background-color: white;}
.tabella-op tbody .tab-giorno-mob{display: none;}

/* RESPONSIVE */

@media(max-width: 768px){
.cont-tab-op{overflow: visible;}
.cont-tab-op.cont-tab-sing{border-color: #242c5d;}
.tabella-op{min-width: auto;}
.tabella-op thead{display: none;}
.tabella-op tbody > tr{display: flex; flex-direction: column;}
.tabella-op td, .tabella-op th{border-right: 0px; border-left:0px}
.tabella-op.tabella-op-glob tr > td:not(:first-child), .tabella-op.tabella-op-singolo tr > td{display: flex; justify-content: space-between; padding:0px}
.tabella-op tr > td > div{width: 100%; padding:8px; display: flex; justify-content: left; align-items: center; text-align: left;}
.tabella-op tbody .tab-giorno-mob{border-right: 1px solid gray; display: flex; justify-content: right; background-color: var(--secondary);}
.tabella-op td, .tabella-op th{border-color:gray}
.tabella-op tr > td:first-child{background-color: var(--primary);}
.tabella-op tr > td:first-child a{color:white}
.tabella-op tbody > tr:last-child td{border-bottom: 1px solid gray;}
.tabella-op tbody tr > td:last-child{border-bottom:0px}
.tabella-op.tabella-op-glob tbody tr > td:first-child{border-bottom:0px}
.tabella-op tr > td > div.tab-orario{display: block}
}

@media(max-width: 324px){
.tabella-op tr > td > div{padding: 8px 5px}
}