.amministratore_area_utenti #wpadminbar li#wp-admin-bar-site-name{display: none}
.amministratore_area_utenti #wpadminbar ul#wp-admin-bar-top-secondary{display: none}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo{margin-right: 5px;}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo a{color:black; background-color: var(--primaryAR); transition: all 0.2s ease}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo a:hover{filter: brightness(85%);}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo#wp-admin-bar-home-link a{background-color:#2971b1; color:white; text-align: center; text-transform:uppercase}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo#wp-admin-bar-home-link a:hover{background-color:#1d5b92;}
#wpadminbar ul#wp-admin-bar-root-default>li.toolbar-profilo#wp-admin-bar-home-link{margin-right: 0px; width: 160px;}
#wpadminbar ul#wp-admin-bar-root-default>li#wp-admin-bar-logout-link.toolbar-profilo a{background-color: #de0000; color:white}
#wpadminbar ul#wp-admin-bar-root-default>li#wp-admin-bar-logout-link.toolbar-profilo a:hover{background-color: #bd0202}
.amministratore_area_utenti #wpadminbar ul#wp-admin-bar-root-default>li:not(.toolbar-profilo){display: none;}