/*
* Stile da utilizzare per il pannello di controllo Admin
*/
.amministratore_area_utenti.users-php .subsubsub{display: none;}
.amministratore_area_utenti.users-php .page-title-action{display: none;}
.amministratore_area_utenti.users-php .tablenav > .actions{display: none;}
.amministratore_area_utenti.users-php .tablenav > .actions.bulkactions{display: block;}
.amministratore_area_utenti.users-php .tablenav > .actions.bulkactions select option[value="resetpassword"]{display: none;}
.amministratore_area_utenti.users-php .tablenav{display: inline-block; margin: 15px 0px}
.amministratore_area_utenti.users-php p.search-box{margin:15px 0px}
.amministratore_area_utenti.users-php .table-view-list.users .row-actions span:not(.delete){display: none;}
.amministratore_area_utenti.users-php .table-view-list.users .row-actions span.delete{background-color: #c70000; display: inline-block; color:#c70000; padding: 0px; padding-left:7px; border-radius: 3px;}
.amministratore_area_utenti.users-php .table-view-list.users .row-actions span.delete a{color:white}
.amministratore_area_utenti.users-php .table-view-list.users .column-username > strong > a{pointer-events: none;}
.amministratore_area_utenti #adminmenuwrap{display: none;}
.amministratore_area_utenti #screen-meta-links{display: none;}
.amministratore_area_utenti .wp-list-table.table-view-list.users th.column-posts{display: none;}
.amministratore_area_utenti .wp-list-table.table-view-list.users td.column-posts{display: none;}
.container-editor-template{border-top:1px solid gray; border-bottom:1px dashed lightgray;}
.tit-impost-area-ris{margin:0px; font-size: 16px;}
.hr-impost-area-ris{border:0px; border-top:1px dashed gray}
.container-preview{background-color: white; height: 100%; padding:50px; overflow: scroll; border:1px solid gray}
.container-editor-template > table, .container-preview-template > table{margin-top:15px;}
.container-editor-template > table > tbody > tr{border-top:1px dashed lightgray}
.container-editor-template > table > tbody > tr:nth-child(1) > td{display: flex; align-items: center;}
.container-editor-template > table > tbody > tr:nth-child(1) > td > select{width: 60px;}
.container-editor-template > table > tbody > tr:nth-child(1) > td span{margin-left:10px; font-size: 13px;}
.container-editor-template > table > tbody > tr:nth-child(2) > td{display: flex; align-items: center;}
.container-editor-template > table > tbody > tr:nth-child(2) > td > select{width: 60px;}
.container-editor-template > table > tbody > tr:nth-child(2) > td span{margin-left:10px; font-size: 13px;}
.container-editor-template > table > tbody {display: flex; flex-wrap: wrap;}
.container-editor-template > table > tbody > tr:nth-child(1){flex-basis: 100%; display: flex;}
.container-editor-template > table > tbody > tr:nth-child(2){flex-basis: 100%; display: flex;}
.container-editor-template > table > tbody > tr:nth-child(3){flex-basis: 50%; display: flex; flex-direction: column;}
.container-editor-template > table > tbody > tr:nth-child(4){flex-basis: 50%; display: flex; flex-direction: column;}
.container-editor-template > table > tbody > tr:nth-child(3) > td, .container-editor-template > table > tbody > tr:nth-child(4) > td{padding-top:0px; padding-left:0px}
.container-editor-template > table > tbody > tr:nth-child(3) > th{padding-bottom:0px}
.container-editor-template > table > tbody > tr:nth-child(4) > th{padding-bottom:25px}
.container-editor-template .CodeMirror{border:1px solid gray; height: 200px;}
.container-editor-custom-css-ar .CodeMirror{border:1px solid gray; height: 500px;}
.container-lista-op{ margin:0 auto; display: grid; gap: 2rem}
.container-lista-op.preview-col-1{grid-template-columns: 1fr;}
.container-lista-op.preview-col-2{grid-template-columns: 1fr 1fr;}
.container-lista-op.preview-col-3{grid-template-columns: 1fr 1fr 1fr;}
.container-lista-op.preview-col-4{grid-template-columns: 1fr 1fr 1fr 1fr;}
.container-lista-op.preview-col-5{grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.container-lista-op.preview-col-6{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
.container-lista-op.preview-col-7{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
.container-lista-op.preview-col-8{grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
.container-lista-op.preview-gap-0{gap:0rem}
.container-lista-op.preview-gap-0_5{gap:0.5rem}
.container-lista-op.preview-gap-1{gap:1rem}
.container-lista-op.preview-gap-1_5{gap:1.5rem}
.container-lista-op.preview-gap-2{gap:2rem}
.container-lista-op.preview-gap-2_5{gap:2.5rem}
.container-lista-op.preview-gap-3{gap:3rem}
.container-lista-op.preview-gap-3_5{gap:3.5rem}
.container-lista-op.preview-gap-4{gap:4rem}
.tit-shortcode{margin-top:0px}
.btn-setting-as{padding:10px; border:0px; border-radius: 3px; text-transform: uppercase; color:white; cursor:pointer; background-color: #2971b1; text-decoration: none}
.btn-setting-as:hover{color:white; background-color: #135e96;}
.btn-setting-as:active{color:white}

#adminmenu li.menu-top.toplevel_page_area-riservata-stable, #adminmenu li.menu-top.toplevel_page_area-riservata-stable:hover{background-color: var(--primaryAR);}
#adminmenu li.opensub.menu-top.toplevel_page_area-riservata-stable > a{color:black; background-color: var(--primaryAR);}
#adminmenu li.wp-has-current-submenu.toplevel_page_area-riservata-stable a.wp-has-current-submenu{background-color: var(--primaryAR); color:black}
#adminmenu .toplevel_page_area-riservata-stable > a{color:black}
#adminmenu .toplevel_page_area-riservata-stable > div.wp-menu-image:before{color:black}
#adminmenu li.toplevel_page_area-riservata-stable:hover div.wp-menu-image:before{color:black}
#adminmenu li.opensub.menu-top.toplevel_page_area-riservata-stable div.wp-menu-image:before{color:black}

#adminmenu li.menu-top.toplevel_page_area-riservata, #adminmenu li.menu-top.toplevel_page_area-riservata:hover{background-color: var(--primaryAR);}
#adminmenu li.opensub.menu-top.toplevel_page_area-riservata > a{color:black; background-color: var(--primaryAR);}
#adminmenu li.wp-has-current-submenu.toplevel_page_area-riservata a.wp-has-current-submenu{background-color: var(--primaryAR); color:black}
#adminmenu .toplevel_page_area-riservata > a{color:black}
#adminmenu .toplevel_page_area-riservata > div.wp-menu-image:before{color:black}
#adminmenu li.toplevel_page_area-riservata:hover div.wp-menu-image:before{color:black}
#adminmenu li.opensub.menu-top.toplevel_page_area-riservata div.wp-menu-image:before{color:black}

@media(max-width: 1200px){
    .container-preview-template > table > tbody > tr > th{display: none;}
    .container-preview-template > table > tbody > tr > td{padding-left: 0px;}
}